name: Deploy to IDCloudHost

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: "./"
          target: "/home/vedara/app/"

      - name: Deploy Docker container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /home/vedara/app/

            # stop container lama
            sudo docker stop vedara || true
            sudo docker rm vedara || true

            # build image baru
            sudo docker build -t vedara-image .

            # jalankan container baru
            sudo docker run -d --name vedara -p 80:80 vedara-image
